<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Force MIME types
  <IfModule mod_mime.c>
    AddType application/javascript .js .mjs
    AddType text/css .css
    AddType image/svg+xml .svg
  </IfModule>
  
  # Don't rewrite files or directories that exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  
  # Rewrite everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>

# Fallback MIME types
AddType application/javascript .js .mjs
AddType text/css .css
AddType image/svg+xml .svg

# Disable MultiViews
Options -MultiViews

# Enable FollowSymLinks
Options +FollowSymLinks
